<a href="https://colab.research.google.com/github/Mathewastuart/deep_learning_challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop('EIN', axis=1, inplace=True)
application_df.drop('NAME', axis=1, inplace=True)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [ ]:
# Determine the number of unique values in each column.
unique_values = application_df.nunique()
unique_values

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [ ]:
# Look at APPLICATION_TYPE value counts for binning
app_type = application_df.value_counts(['APPLICATION_TYPE'])
app_type

APPLICATION_TYPE
T3                  27037
T4                   1542
T6                   1216
T5                   1173
T19                  1065
T8                    737
T7                    725
T10                   528
T9                    156
T13                    66
T12                    27
T2                     16
T14                     3
T25                     3
T29                     2
T15                     2
T17                     1
dtype: int64

In [ ]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = ['T17','T15','T29', 'T25', 'T14', 'T2', 'T12', 'T13']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [ ]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df.value_counts(['CLASSIFICATION'])
classification_counts

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
                  ...
C2190                 1
C2380                 1
C2500                 1
C2561                 1
C8210                 1
Length: 71, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1
counts_over_1 = classification_counts[classification_counts > 1]
counts_over_1

CLASSIFICATION
C1000             17326
C2000              6074
C1200              4837
C3000              1918
C2100              1883
C7000               777
C1700               287
C4000               194
C5000               116
C1270               114
C2700               104
C2800                95
C7100                75
C1300                58
C1280                50
C1230                36
C1400                34
C2300                32
C7200                32
C1240                30
C8000                20
C7120                18
C1500                16
C1800                15
C6000                15
C1250                14
C8200                11
C1278                10
C1238                10
C1235                 9
C1237                 9
C7210                 7
C1720                 6
C4100                 6
C2400                 6
C1600                 5
C1257                 5
C2710                 3
C1260                 3
C0                    3
C1267                 2
C1246                 2
C1256                 2
C3200                 2
C1234                 2
dtype: int64

In [ ]:
from types import EllipsisType
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 250].index)

# Replace in dataframe
for cls in classifications_to_replace:
   application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df)

# Display the transformed data
dummies.tail()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [ ]:
# Split our preprocessed data into our features and target arrays
x_features = dummies.drop('IS_SUCCESSFUL', axis=1)
y_targets = dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
x_train, x_test, y_train, y_test= train_test_split(x_features, y_targets, test_size=.65)

In [ ]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
x_scaler = scaler.fit(x_train)

# Scale the data
x_train_scaled = x_scaler.transform(x_train)
x_test_scaled = x_scaler.transform(x_test)

## Compile, Train and Evaluate the Model

In [ ]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

nn.add(tf.keras.layers.Dense(units=200, activation='LeakyReLU', input_dim=43))
#dropout
nn.add(tf.keras.layers.Dropout(rate=.7))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=200, activation='tanh'))
#dropout
nn.add(tf.keras.layers.Dropout(rate=.7))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=100, activation='sigmoid'))
#dropout
nn.add(tf.keras.layers.Dropout(rate=.7))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 200)               8800

 dropout (Dropout)           (None, 200)               0

 dense_1 (Dense)             (None, 200)               40200

 dropout_1 (Dropout)         (None, 200)               0

 dense_2 (Dense)             (None, 100)               20100

 dropout_2 (Dropout)         (None, 100)               0

 dense_3 (Dense)             (None, 1)                 101

=================================================================
Total params: 69,201
Trainable params: 69,201
Non-trainable params: 0
_________________________________________________________________

In [ ]:
import keras_tuner as kt

def create_model(hp):
    nn = tf.keras.models.Sequential()

    activation = hp.Choice('activation', ['relu', 'tanh', 'sigmoid'])

    nn.add(tf.keras.layers.Dense(units=hp.Int('first_units', min_value=1, max_value=10, step=2), activation=activation, input_dim=46))

    for i in range(hp.Int('num_layers', 1, 6)):
        nn.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
                                                  min_value=1,
                                                  max_value=10,
                                                  step=2),
                                     activation=activation))

    nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
    # Compile the model
    nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

    return nn

tuner = kt.Hyperband(create_model, objective='val_accuracy', max_epochs=20, hyperband_iterations=2)


tuner.search(x_train_scaled, y_train, epochs=20, validation_data=(x_test_scaled, y_test))

# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

Trial 56 Complete [00h 00m 34s]
val_accuracy: 0.7317335605621338

Best val_accuracy So Far: 0.7327651977539062
Total elapsed time: 00h 14m 45s

{'activation': 'tanh',
 'first_units': 9,
 'num_layers': 5,
 'units_0': 3,
 'units_1': 5,
 'units_2': 7,
 'units_3': 7,
 'units_4': 1,
 'units_5': 1,
 'tuner/epochs': 20,
 'tuner/initial_epoch': 7,
 'tuner/bracket': 2,
 'tuner/round': 2,
 'tuner/trial_id': '0038'}

In [ ]:
import tensorflow as tf

def create_best_model():
    model = tf.keras.models.Sequential()

    # Assuming there are 46 features in the input data
    model.add(tf.keras.layers.Dense(units=9, activation='tanh', input_dim=46))
    model.add(tf.keras.layers.Dense(units=3, activation='tanh'))
    model.add(tf.keras.layers.Dense(units=5, activation='tanh'))
    model.add(tf.keras.layers.Dense(units=7, activation='tanh'))
    model.add(tf.keras.layers.Dense(units=7, activation='tanh'))
    model.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

    # Compile the model with the appropriate loss, optimizer, and metrics
    model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

    return model

# Create the best model
best_model = create_best_model()

# Train the model on the full training dataset
history = best_model.fit(x_train_scaled, y_train, epochs=20, batch_size=32, validation_data=(x_test_scaled, y_test))

# Evaluate the model on the test dataset
test_loss, test_accuracy = best_model.evaluate(x_test_scaled, y_test)
print("Test Accuracy:", test_accuracy)

Epoch 1/20
376/376 [==============================] - 3s 5ms/step - loss: 0.6294 - accuracy: 0.6593 - val_loss: 0.5844 - val_accuracy: 0.7111
Epoch 2/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5846 - accuracy: 0.7108 - val_loss: 0.5723 - val_accuracy: 0.7237
Epoch 3/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5754 - accuracy: 0.7197 - val_loss: 0.5663 - val_accuracy: 0.7275
Epoch 4/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5692 - accuracy: 0.7236 - val_loss: 0.5634 - val_accuracy: 0.7289
Epoch 5/20
376/376 [==============================] - 2s 5ms/step - loss: 0.5655 - accuracy: 0.7261 - val_loss: 0.5616 - val_accuracy: 0.7299
Epoch 6/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5632 - accuracy: 0.7277 - val_loss: 0.5635 - val_accuracy: 0.7293
Epoch 7/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5618 - accuracy: 0.7290 - val_loss: 0.5589 - val_accuracy: 0.7280
Epoch 8/20
376/376 [==============================] - 2s 5ms/step - loss: 0.5600 - accuracy: 0.7257 - val_loss: 0.5591 - val_accuracy: 0.7311
Epoch 9/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5588 - accuracy: 0.7283 - val_loss: 0.5582 - val_accuracy: 0.7316
Epoch 10/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5574 - accuracy: 0.7283 - val_loss: 0.5576 - val_accuracy: 0.7284
Epoch 11/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5566 - accuracy: 0.7287 - val_loss: 0.5568 - val_accuracy: 0.7315
Epoch 12/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5556 - accuracy: 0.7265 - val_loss: 0.5576 - val_accuracy: 0.7314
Epoch 13/20
376/376 [==============================] - 2s 5ms/step - loss: 0.5543 - accuracy: 0.7296 - val_loss: 0.5584 - val_accuracy: 0.7305
Epoch 14/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5545 - accuracy: 0.7278 - val_loss: 0.5558 - val_accuracy: 0.7309
Epoch 15/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5534 - accuracy: 0.7281 - val_loss: 0.5559 - val_accuracy: 0.7314
Epoch 16/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5530 - accuracy: 0.7297 - val_loss: 0.5551 - val_accuracy: 0.7316
Epoch 17/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5525 - accuracy: 0.7284 - val_loss: 0.5557 - val_accuracy: 0.7313
Epoch 18/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5521 - accuracy: 0.7305 - val_loss: 0.5569 - val_accuracy: 0.7283
Epoch 19/20
376/376 [==============================] - 2s 5ms/step - loss: 0.5520 - accuracy: 0.7298 - val_loss: 0.5546 - val_accuracy: 0.7307
Epoch 20/20
376/376 [==============================] - 1s 3ms/step - loss: 0.5517 - accuracy: 0.7303 - val_loss: 0.5552 - val_accuracy: 0.7312
697/697 [==============================] - 1s 1ms/step - loss: 0.5552 - accuracy: 0.7312
Test Accuracy: 0.731195330619812

In [ ]:
# Export our model to HDF5 file
nn.save('model_file.h5')